.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 45vh;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.5);
}

.poster-container {
  width: 50%;
  height: 100%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  border-radius: 10px 0 0 10px;
}

.poster:hover {
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.title:hover {
  cursor: pointer;
}

.description {
  align-self: center;
  font-size: 0.8rem;
  color: #555;
  margin: 0.5rem 0 0 0;
}

.icons {
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  height: 20%;
  padding: 0.5rem 0 1rem 0;
}

.icon:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 2rem;
  transition: transform 0.2s;
}

.random-icon {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.random-icon:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.back-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.back-icon:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card {
    width: 80%;
    height: 45vh;
  }

  .info-container {
    width: 50%;
    height: 100%;
    padding: 0.5rem 1rem;
  }
  
  .title {
    font-size: 1.6rem;
  }
  
  .rating {
    font-size: 1.3rem;
  }
  
  .description {
    font-size: 0.9rem;
  }

  .icons {
    width: 100%;
    justify-content: space-around;
  }

  .icon {
    font-size: 3rem;
  }
}