.roulette-container {
    padding: 2rem;
    display: flex;
}

.wheel {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roulette-form {
    /* justify-self: flex-end; */
    /* align-self: flex-end; */
}

.names {
    /* min-height: 50%; */
    min-width: 40%;
    /* border: 1px solid #000; */
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.n {
    min-height: 100%;
    min-width: 100%;
    border: 1px solid #000;
}