.roulette-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns {
  order: 2;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns > button {
  width: 7rem;
  padding: 0.8rem;
  margin: 0.3rem 0;
  border-radius: 10px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.2s;
}

.btns > button:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--secondary-color);
}

.form-movies {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roulette-form {
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roulette-input {
  font-family: inherit;
  height: 30px;
  outline: 0;
  border-radius: 10px;
  padding: 5px;
  transition: width 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
  .roulette-container {
    flex-direction: column;
  }
}
