.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container {
    margin: 1rem;
}

.flash-msg {
    text-align: center;
    position: fixed;
    top: 12%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.streaming-icons {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.google-btn {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 0.2s;
    text-align: center;
}

.google-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--secondary-color);
}

.buttons > button {
    width: 15rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 0.2s;
}

.buttons > button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--secondary-color);
}
