.random-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.random-movie {
  flex: 1;
}

.heading {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.popular-movies {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
