.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 550;
  border-radius: 0px 0px 5px 5px;
  padding: 0.7rem 2rem;
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 80px;
  height: 55px;
}

.navbar a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  transition: transform 0.2s;
}

.navbar a:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.navigation {
  display: flex;
}

.nav-links {
  padding-left: 1rem;
  list-style: none;
  display: flex;
}

.nav-links .link {
  padding: 0 1.2rem;
}

/* Hides navigation link inside hamburger menu when screen is resized */
.nav-menu ul {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .nav-links {
    display: none;
  }

  .hambrgr-menu {
    visibility: visible;
    width: 5rem;
    height: 4rem;
    flex-direction: column;
    cursor: pointer;
  }

  .hambrgr-menu:hover > * {
    border-color: var(--secondary-color);
    transition: 0.3s;
  }

  .ham-line {
    border-radius: 10%;
    width: 50%;
    border: 2px solid var(--text-color);
    margin: 3px;
  }

  .nav-menu {
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 0;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    animation: zoomIn 0.3s ease-in-out;
  }

  .nav-menu ul {
    display: inline-block;
    position: relative;
    bottom: 4rem;
    right: 1rem;
    text-align: center;
    list-style: none;
  }

  .nav-menu-links {
    font-weight: 550;
    font-size: large;
    margin: 4rem 0;
  }
}

/* Animation for Hamburger Icon */
.top-line-animate {
  transform: translate(0px, 10px) rotate(45deg);
}
.middle-line-animate {
  opacity: 0;
}
.bottom-line-animate {
  transform: translate(0px, -10px) rotate(-45deg);
}
.ease-transition {
  transition: all 0.2s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}