.movie-card {
  width: 80%;
  height: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.5);
  display: flex;
}

.m-poster-container {
  object-fit: cover;
  flex: 25%;
}

.m-poster {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  border-radius: 10px 0 0 10px;
}

.m-info-container {
  padding: 1rem 2rem;
  flex: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.m-title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  margin: 1.2rem 3rem 0 0;
}

.m-description {
  font-size: 1rem;
  width: 80%;
}

@media screen and ( max-width: 900px) {
  .movie-card {
    width: 100%;
  }

}

@media screen and ( max-width: 600px) {
  .movie-card {
    flex-direction: column;
  }

  .m-poster {
    height: 45vh;
    border-radius: 10px 10px 0 0;
  }

  .m-title-rating {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

.m-rating {
  text-align: end;
}

  .m-genre {
    font-size: 1.1rem;
  }

  .m-description {
    width: 100%;
    padding: 1.2rem 0 0.5rem 0;
  }
}