.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-form input {
  font-family: inherit;
  width: 20rem;
  height: 30px;
  outline: 0;
  border-radius: 10px;
  padding: 5px;
  transition: width 0.2s ease-in-out;
}

.account-btn {
  width: 7rem;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 10px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.2s;
}

.account-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--secondary-color);
}

.error-msg {
  background-color: red;
  color: #fff;
}
