.c-account-btn {
  padding: 0.8rem;
  margin: 1rem 0 0 0;
  border-radius: 10px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.2s;
}

.c-account-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: var(--secondary-color);
}
