.pie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.pie-text {
    font-size: 0.7rem;
}

@media  screen and (max-width: 500px) {
    .pie-text {
        font-size: 0.35rem;
    }
}

